body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.input-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

select, input {
    border: none;
    font-size: 125%;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;
    background: lightblue;
    border-radius: 8px;
    box-shadow: 0px 0px 1.3rem rgba(0,0,0,0.3);

}


#num-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    height: 150px;
    justify-content: space-around;
}

#num-words {
    width: 80%;
    margin: 0 auto;
}

#submit-btn {
    width: 60%;
    margin: 0 auto;
    padding: .5rem;
    background: lightgreen;
    color:darkgreen;
    border: none;
    font-weight: 900;
}

#submit-btn:active {
    box-shadow: none;
}

#type-span {
    font-weight: bold;
    color: red;
}

textarea {
    width: 80%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.4);
    font-size: 125%;
}