body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
}

#num-input {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    height: 100px;
    justify-content: space-around;
}

#num-words {
    width: 80%;
    margin: 0 auto;
}

#submit-btn {
    width: 60%;
    margin: 0 auto;
}

textarea {
    width: 90%;
}