body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
}

.input-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

#num-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    height: 150px;
    justify-content: space-around;
}

#num-words {
    width: 80%;
    margin: 0 auto;
}

#submit-btn {
    width: 60%;
    margin: 0 auto;
    padding: .5rem;
    background: lightgreen;
    color:darkgreen;
}

#type-span {
    font-weight: bold;
    color: red;
}

textarea {
    width: 90%;
}