html {
    height: 800px;
    overflow: hidden;
}

body {
    /* width: 100vw; */
    overflow-x: hidden;
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    font-size: 250%;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.input-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    margin: 6px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

select, input {
    border: none;
    font-size: 125%;
    padding: .3rem;
    margin: 6px;
    max-width: 30%;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;
    background: lightblue;
    padding: 1.3rem 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 1.3rem rgba(0,0,0,0.3);
    width: 60%;
}


#num-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    height: 150px;
    justify-content: space-around;
}

#num-words {
    width: 80%;
    margin: 0 auto;
}

#submit-btn {
    width: 60%;
    margin: 15px auto;
    padding: .5rem;
    background: darkblue;
    color:azure;
    border: none;
    font-weight: 900;
}

#submit-btn:active {
    box-shadow: none;
}

#type-span {
    font-weight: bold;
    color: red;
}

#lorem-copy, #clear-btn {
    width: 40%;
    margin: 20px;
    padding: .5rem;
    background: darkblue;
    color:azure;
    border: none;
    font-weight: 900;
}

#btn-wrapper {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-evenly;
}

#toast {
    position: fixed;
    bottom: 40%;
    left: 35%;
    min-height: 40px;
    padding: 1.3rem;
    width: 30%;
    z-index:1000;
    display: flex;
    justify-content:center;
    text-align: center;
    color: white;
    font-weight: bold;
}

textarea {
    width: 80%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.4);
    font-size: 125%;
    
}

